<mat-toolbar color="primary" class="navBar">
    <mat-toolbar-row>
        <div class="col-2" style="display: flex; flex-direction: row-reverse;">
            Contact us:
         </div>
         <div class="col-8" style="width: 80%; margin-left: 1.5%; display: flex;">
            <a href="https://www.instagram.com/pmobytes/?hl=en" target="_blank"><img src="https://image.flaticon.com/icons/svg/1409/1409946.svg" width="40" height="40"></a>
            &nbsp;&nbsp;
            <a href="https://www.facebook.com/projectmanagementinformation" target="_blank"><img src="https://image.flaticon.com/icons/svg/1384/1384053.svg" width="40" height="40"></a>
      
        </div>
    </mat-toolbar-row>


  </mat-toolbar>
  
