<ng-container>
    <div class="row">
        <button style="display: none;" type="button" id="toggleRegister" data-toggle="collapse"
            data-target="#collapseRegister" aria-expanded="false" aria-controls="collapseRegister">
        </button>
    </div>
    <div class="row" style="margin-top: 3%;">
        <div class="col-6" style="display: flex; flex-direction: row-reverse; margin-left:-25px; padding-top: 0.3%;">
            <button class="btn btn-success btn-lg" mat-raised-button style="height: 120%; width: 20%;"
                (click)="openCollapse('login')">LogIn</button>
        </div>
        <div class="col-5" style="margin-left: -15px;">
            <button mat-raised-button color="primary" style="height:130%; width: 25%; font-size: 140%;"
                (click)="openCollapse('register')">Register</button>
        </div>
    </div>
    <br>
    <br>
    <div class="collapse" id="collapseRegister">
        <hr>
        <div class="row" style="display: flex; flex-direction: row-reverse;">
            <a (click)="close()" style="font-size: 255%; cursor: pointer; margin-left: -30px;">
                <mat-icon color="primary">cancel</mat-icon>
            </a>
        </div>
        <div class="row">
            <div class="col-8" style="display: flex; margin-left: 20%;">

                <!-- Login Collapse -->
                <ng-container *ngIf="isLoginExpanded">
                    <mat-card class="login-card">
                        <mat-card-header>
                            <mat-card-title><i class="fas fa-user"></i>&nbsp; Login</mat-card-title>
                        </mat-card-header>
                        <hr>
                        <mat-card-content>
                            <form [formGroup]='loginForm'>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            <mat-icon> email</mat-icon>&nbsp; Email
                                        </mat-label>
                                        <input formControlName="loginEmail" matInput placeholder="Ex. pat@project.com">

                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            <mat-icon>lock</mat-icon>&nbsp; Password
                                        </mat-label>
                                        <input formControlName="loginPassword" matInput placeholder="password">

                                    </mat-form-field>
                                </div>
                                <hr>
                            </form>
                        </mat-card-content>
                        <mat-card-actions style="display: flex; flex-direction: row-reverse;">
                            <button mat-raised-button color="primary" [disabled]="!loginForm.valid"
                                (click)="login()">Login</button>
                        </mat-card-actions>
                    </mat-card>
                    <br>
                </ng-container>
                <!-- Registration collapse -->
                <ng-container *ngIf="isRegistraionExpanded">
                    <mat-card class="login-card">
                        <mat-card-header>
                            <mat-card-title><i class="fas fa-user-edit"></i>&nbsp;Register</mat-card-title>
                        </mat-card-header>
                        <hr>
                        <mat-card-content>
                            <form [formGroup]='registerForm'>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            <i class="fas fa-user"></i>&nbsp; First name
                                        </mat-label>
                                        <input formControlName="firstName" matInput placeholder="Jhon">

                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            Last name
                                        </mat-label>
                                        <input formControlName="lastName" matInput placeholder="Doe">

                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            <mat-icon> email</mat-icon>&nbsp; Email
                                        </mat-label>
                                        <input formControlName="registerEmail" matInput
                                            placeholder="Ex. pat@project.com">

                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            <mat-icon>phone</mat-icon>&nbsp; Mobile number
                                        </mat-label>
                                        <input formControlName="mobileNumber" matInput placeholder="9876543210">

                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="login-form">
                                        <mat-label>
                                            <mat-icon>lock</mat-icon>&nbsp; Password
                                        </mat-label>
                                        <input formControlName="registerPassword" matInput placeholder="Enetr Password">
                                    </mat-form-field>
                                </div>
                                <hr>
                            </form>
                        </mat-card-content>
                        <mat-card-actions style="display: flex; flex-direction: row-reverse;">
                            <button mat-raised-button color="primary" [disabled]="!registerForm.valid"
                                (click)="register()">Register</button>
                        </mat-card-actions>
                    </mat-card>
                    <br>
                </ng-container>
            </div>
        </div>
    </div>
    <hr>
    <ng-container>
        <div class="row">

        </div>
    </ng-container>
</ng-container>